* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-size: 20px;
}

html {
  background-color: black;
  scroll-behavior: smooth;
}
body {
  width: 960px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  background-color: white;
}

/* navigation  */

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5em;
  color: white;
  background-color: black;
}

nav ul img {
  height: 2em;
  filter: invert(100%);
}

nav a:visited {
  color: white;
}

/*hero*/
.hero {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 20em;
  padding: 2em;
  background-color: white;
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 50%;
  margin: 1em;
}

.hero h1 {
  font-size: 2em;
  font-weight: 400;
}
.hero h2 {
  font-size: 1.5em;
  font-weight: 100;
}

.hero p {
  font-size: 0.75;
}

.button {
  padding: 0.5em;
  text-align: center;
  border-radius: 1em;
  font-weight: 700;
  width: 10em;
  box-shadow: 1px 2px 3px black;
  background-color: orangered;
  color: white;
}

.hero-right {
  width: 50%;
  height: 100%;
  padding: 1em;
}

.hero-right img {
  height: 100%;
}

/*about us*/
.about_us {
  display: flex;
  flex-direction: column;
  padding: 2em;
  justify-content: space-between;
  align-items: center;
}

.about_us h1 {
  font-size: 3em;
  font-weight: 400;
  padding-right: 1em;
}

.about_us img {
  width: 50%;
}

.about_us p {
  width: 600px;
  text-align: center;
}
.about-top {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

/*course experience*/

.course_experience {
  padding: 2em;
  display: flex;
  flex-direction: column;
  height: 60vh;
}

.course_experience h1 {
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  margin: 0.5em 0 0.5em 0;
}

.course_experience ul {
  display: flex;
  justify-content: center;
}

.course_experience li {
  border: 1px solid black;
  padding: 0em 1em 0em 1em;
}

.course_experience li:nth-last-child(1) {
  color: white;
  background-color: black;
}

.course_content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
  padding-right: 2em;
}

.course_content img {
  height: 150px;
  padding: 1em 2em 1em 2em;
}

.course_content p {
  width: 460px;
  font-size: 0.7em;
}

/*sessions*/
.sessions {
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.sessions h1 {
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  margin: 0.5em 0 0.5em 0;
}

.card {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.card ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  font-weight: 300;
  background-color: #ebf0f2;
  grid-column: 1/13;
  padding: 0.25em 0.5em;
}

.card ul li:nth-child(1) {
  font-weight: bold;
}

.card img {
  grid-column: 1/5;
  grid-row: 2/3;
  height: 60px;
  width: 60px;
  margin: 1em;
}

.card ul li {
  font-size: 0.75em;
}

.card p {
  grid-column: 4/13;
  grid-row: 2/3;
  text-align: justify;
  /* margin: 1em; */
  padding: 0.25em;
  font-size: 0.75em;
}
/*masters*/
.masters {
  padding: 2em;
}

.masters h1 {
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  margin: 0.5em 0 0.5em 0;
}

.master {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1em;
}

.master_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.master_card img {
  height: 88px;
  width: 87px;
}
.master_card h3 {
  font-size: 0.75em;
  font-weight: 400;
}
.master_card h4 {
  font-size: 0.5em;
  font-weight: 500;
}

/*faq*/

.faq {
  padding: 2em;
}
.faq h1 {
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  margin: 0.5em 0 0.5em 0;
}

.question {
  display: flex;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
  background-color: cadetblue;
  color: white;
  margin: 0.5em;
  border-radius: 0.5em;
  align-items: center;
}

.question a {
  font-weight: 600;
  color: white;
  font-size: 2em;
}

/*course fee*/

.course_fee {
  padding: 2em;
}

.course_fee h1 {
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  margin: 0.5em 0 0.5em 0;
}

.course_fee_content {
  margin: 3em 0em 3em 0em;
  display: flex;
}

.benefits h3 {
  padding-bottom: 1em;
}
.benefits {
  width: 60%;
  padding-right: 2em;
}

.fee {
  width: 40%;
  height: auto;
  color: white;
  background-color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 1em;
}

.fee h2 {
  font-weight: 500;
}

.fee .button {
  font-weight: bold;
}
.fee p.button {
  padding: auto;
}
.course_fee_content p {
  font-weight: 200;
  font-size: 0.8em;
  padding-bottom: 1em;
}

.fee_note {
  text-align: center;
  font-size: 0.6em;
  font-weight: 100;
}

/*contact*/

.contact {
  display: flex;
  height: 20em;
  justify-content: space-between;
  padding: 2em;
  align-items: center;
  color: white;
  background-color: black;
}

.left {
  width: 60%;
}

.left h1 {
  font-weight: 600;
  padding-bottom: 3em;
}

.left p {
  font-weight: lighter;
  padding-bottom: 3em;
}

.contact input {
  padding: 1em;
  border-radius: 0.5em;
  width: 50%;
  font-family: monospace;
  border: 0px solid white;
}

/*to remove the border when the input box is clicked on*/
textarea:focus,
input:focus {
  outline: none;
}

.contact img {
  width: 200px;
  height: 200px;
}

/*projects*/

.projects {
    padding: 2em;
}

.projects h1 {
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  margin: 0.5em 0 0.5em 0;
}

.projects h2 {
    font-weight: 400;
    font-size: 1.25em;
}

.projects li {
    font-size: 0.6em;
    padding-bottom: 2em;
}
.projects p {
    font-size: 1em;
}

.left {
    padding: 2em;
    width: 50%;
}

.box {
    width: 240px;
    height: 320px;
    background-color: burlywood;
}

.project-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*schedule*/

.schedule {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.schedule h1 {
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  margin: 0.5em 0 0.5em 0;
}

.schedule h2 {
  font-size: 2em;
  text-align: center;
  font-weight: 400;
}

.dates {
  display: flex;
  justify-content: space-between;
  padding-left: 8em;
  padding-right: 8em;
}

.dates input {
  margin: 2em;
}

.schedule p {
  text-align: center;
}

.date-left,
.date-right {
  padding: 3em;
}

/* footer */

footer {
  padding-left: 1em;
  padding-right: 1em;
}
footer ul {
  height: 12em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer ul li ul li {
  margin-right: 1em;
}
footer img {
  height: 2em;
}

footer i {
  font-size: 2em;
}